html{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,122,1) 34%, rgba(0,212,255,1) 100%);
  box-sizing: border-box;
}

#app{
  text-align: center;
}

h1{
  text-align: center;
}
#calculator-frame{
  text-align: center;
  border: 4px solid black;
  margin: auto;
  width: 350px;
  height: 500px;
  background-color: darkgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0.2em;
  row-gap: 0.2em;
  
}

#display{
  font-family: fantasy;
  font-size: 2em;
  text-align: right;
  padding-right: 0.5em;
  padding-top: 0.5em;
  background-color: burlywood;
  border-bottom: 4px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

#clear{
  background-color: chocolate;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#equals{
  background-color: chartreuse;
  grid-row: 5 / span 2;
  grid-column: 4; 
}

#divide{
  grid-column: 3;
}

#multiply{
  grid-column: 4;
}

#add{
  grid-column:  4 / span 1;
  grid-row: 
}

#subtract{
  grid-column: 4 / span 1;
}

.operator{
  background-color: cornflowerblue; 
  
}

.digit{
  background-color: lightgrey;
  
}

.pad{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nine{
  grid-column: 3;
  grid-row: 3;
}
#eight{
  grid-column: 2;
  grid-row: 3;
}
#seven{
  grid-column: 1;
  grid-row: 3;
}
#six{
  grid-column: 3;
  grid-row: 4;
}
#five{
  grid-column: 2;
  grid-row: 4;
}
#four{
  grid-column: 1;
  grid-row: 4;
}
#three{
  grid-column: 3;
  grid-row: 5;
}
#two{
  grid-column: 2;
  grid-row: 5;
}
#one{
  grid-column: 1;
  grid-row: 5;
}


#zero{
  grid-column: 1 / span 2;
  grid-row: 6;
}